@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
html {
  background-color: hsl(212, 45%, 89%);
}
.cardclass {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  margin-top: 33vh;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
#img1 {
  display: flex;
  align-self: center;
  width: 90%;
  margin-top: 0.8rem;
}
.card {
  border-radius: 1rem;
}
.card-text {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
